.option-Accident {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 2;
    margin-left: -10px;
    margin-top: 8px;
    display: none;
    background-color: rgb(238, 238, 238);
}

.option-Accident p {
    background-color: rgb(238, 238, 238);
    margin: 0;
}

.open-list:hover .option-Accident {
    display: flex;
}